.about-section {
  background-color: $color-grey-light-1;
  padding: 8rem 0;

  @include for-tablet-portrait-down {
    padding-top: 4.3rem;
    padding-bottom: 6.4rem;
  }
}

.about {
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 3.1rem;

    @include for-tablet-landscape-down {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img-container {
    flex: 0 0 calc(50% - (3.1rem / 2));
    display: flex;
    align-items: center;

    @include for-mobile-down {
      align-items: flex-start;
    }
  }

  &__img {
    width: 100%;
  }

  &__info {
    color: $color-body;
  }

  &__heading {
    margin-bottom: 2.4rem;

    @include for-tablet-portrait-down {
      margin-bottom: 1.6rem;
    }
  }

  &__benefits {
    margin: 5.6rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @include for-tablet-portrait-down {
      margin: 3.2rem 0;
    }
  }
}

.benefit {
  display: flex;
  gap: 2rem;
  align-items: start;

  &__icon-container {
    background-color: $color-white;
    border-radius: 2rem;
    height: 9.6rem;
    width: 9.6rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    height: 4.8rem;
    width: 4.8rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
}
