.eco-friendly {
  &__content {
    padding-left: 0;
    display: flex;
    align-items: center;
    position: relative;

    @include for-mobile-only {
      padding-right: 0;
      flex-direction: column;
    }
  }

  &__display-text {
    color: $color-primary;
  }

  &__img {
    max-height: 71.2rem;
    max-width: 100%;
    object-fit: cover;

    @include for-mobile-only {
      padding-right: 0;
      width: 100%;
      flex-direction: column;
    }
  }

  &__card {
    background-color: $color-white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: $color-body;
    border-radius: 3.2rem;
    box-shadow: $shadow;
    padding: 3.6rem 4.2rem 6.8rem 4.2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    max-width: 71.3rem;

    @include for-mobile-only {
      position: relative;
      transform: translateY(0);
      margin-top: -50%;
    }

    @include for-phone-only {
      margin-top: -25%;
    }
  }

  &__list {
    list-style: none;
    margin-top: 5.6rem;

    & > *:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }
}

.list__item {
  &__heading {
    margin-bottom: 0.4rem;
  }

  &__body-text {
    color: $color-grey-dark-2;
  }
}
