.footer {
  &__content {
    color: $color-body;
    margin-bottom: 4.9rem;

    a {
      &:link,
      &:visited {
        text-decoration: none;
        color: currentColor;
        transition: color 0.2s;
      }

      &:hover {
        color: $color-primary;
      }
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;

    @include for-mobile-down {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-md-phone-down {
      grid-template-columns: 1fr;
      gap: 6.4rem;
    }
  }

  &__contact-us,
  &__utility-pages {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    padding-top: 0.8rem;
    width: 31.6rem;

    @include for-mobile-down {
      width: 100%;
    }

    @include for-md-phone-down {
      gap: 2.4rem;
    }
  }

  &__contact-us {
    align-items: flex-end;
    padding-right: 1.6rem;

    @include for-mobile-down {
      justify-self: end;
      border-right: 1px solid $color-grey-light-3;
      padding-right: 4rem;
    }

    @include for-md-phone-down {
      justify-self: start;
      align-items: flex-start;
      padding-right: 0;
      border: none;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.1rem;
    padding: 3.3rem 4.9rem 6.4rem 4.9rem;
    border-left: 1px solid $color-grey-light-3;
    border-right: 1px solid $color-grey-light-3;

    @include for-mobile-down {
      grid-area: 1/1/2/3;
      border: none;
    }

    @include for-md-phone-down {
      grid-area: 1/1/2/2;
      padding: 0;
    }
  }

  &__info-about {
    max-width: 56.7rem;
    text-align: center;
    color: $color-grey-dark-2;
  }

  &__utility-pages {
    align-items: flex-start;
    padding-left: 1.6rem;

    @include for-mobile-down {
      justify-self: start;
      padding-left: 4rem;
    }

    @include for-md-phone-down {
      padding-left: 0;
    }
  }

  &__copyright {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    border-top: 1px solid $color-grey-light-3;
    display: flex;
    justify-content: center;
    color: $color-grey-dark-2;
  }
}

.contact__list,
.utility-pages__list {
  list-style: none;
  color: $color-grey-dark-2;
  display: flex;
  flex-direction: column;
}

.contact {
  &__list {
    gap: 3.2rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;

    @include for-md-phone-down {
      align-items: flex-start;
      text-align: start;
    }
  }
}

.utility-pages {
  &__list {
    gap: 2.4rem;
  }
}
