.header-section {
  background-color: $color-white;
}

.header {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo-box {
    height: 5.6rem;
  }
}

.menu {
  list-style: none;
  display: flex;
  gap: 4rem;

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 2rem;
    text-transform: capitalize;
    text-decoration: none;
    color: $color-body;
    transition: color 0.2s;

    &:hover {
      color: $color-primary;
    }
  }
}
