.hero-section {
  position: relative;
}

.hero__bg-img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hero {
  padding-top: 16rem;
  padding-bottom: 16rem;

  &__content {
    width: 49.6rem;
  }

  &__display-text {
    color: $color-primary;
  }

  &__heading {
    color: $color-body;
  }

  &__btn {
    margin-top: 3.6rem;
  }
}
