.hero {
    background-image: url("../../img/images/hero-bg-2x.jpg");
    padding: 16rem 4rem;
    background-size: cover;
    background-position: center;
  
    &__content {
      width: 49.6rem;
    }
  
    &__display-text {
      color: $color-primary;
    }
  
    &__heading {
      color: $color-body;
    }
  
    &__btn {
      margin-top: 3.6rem;
    }
  }
  