.news-section {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.news-content {
  color: $color-body;
}

.news {
  &__display-text {
    color: $color-primary;
  }

  &__header-container {
    margin-bottom: 6rem;
  }
}

