.news-section {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.news-content {
  color: $color-body;
}

.news {
  &__display-text {
    color: $color-primary;
  }

  &__header-container {
    margin-bottom: 6rem;
  }
}

.news-container {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // display: grid;
  // grid-template-columns: repeat(
  //   auto-fit,
  //   minmax(36.8rem, calc(50% - 3rem / 2))
  // );
  // justify-content: center;
  // gap: 3rem;
}
