.offers-content {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.offer {
  flex: 1;
  background-size: cover;
  border-radius: 3.2rem;
  background-position: center;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  min-width: 36.8rem;

  &--1 {
    $color-shadow: rgba(246, 100, 139, 0.6);
    color: $color-white;
    @include offer-hover($color-shadow);
  }

  &--2 {
    $color-shadow: rgba(246, 169, 50, 0.6);
    color: $color-body;
    @include offer-hover($color-shadow);
  }

  &__content {
    width: 26rem;
    margin: 10.8rem 5.6rem;
  }

  &__img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
  }
}
