.offer-products-section {
  background-color: $color-body;
}

.offer-products {
  &__display-text {
    color: $color-primary;
  }

  &__heading {
    color: $color-white;
    line-height: normal;
  }
}
