.products {
  margin: 9.6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
  &__display-text {
    color: $color-primary;
  }

  &__heading {
    color: $color-body;
    margin-bottom: 4rem;
  }
}
