.products-section {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.products {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__display-text {
    color: $color-primary;
  }

  &__heading {
    color: $color-body;
    margin-bottom: 4rem;
  }
}
