.testimonials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: -7rem;
  background-color: #fcfcfc;

  @include for-mobile-down {
    justify-content: center;
  }

  &__bg-img--left,
  &__bg-img--right {
    height: 83.2rem;
    max-width: 20%;
    width: 100%;
    object-fit: cover;

    @include for-tablet-landscape-down {
      display: none;
    }
  }
}

.testimonial {
  max-width: 89.6rem;
  color: $color-grey-dark-2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include for-mobile-down {
    margin: 6.4rem 0;
  }
  
  &__heading {
    color: $color-body;
  }

  &__avatar {
    height: 11.2rem;
    width: 11.2rem;
    border-radius: 100%;
    margin-top: 6.4rem;
    margin-bottom: 1.6rem;
  }

  &__rating {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
  }

  &__rating-icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  &__message {
    margin-top: 3.2rem;
    margin-bottom: 2.4rem;
  }

  &__customer-name {
    color: $color-body;
    margin-bottom: 0.8rem;
  }
}
