.product {
  background-color: $color-grey-light-1;
  border-radius: 3.2rem;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;

  @include for-phone-only {
    padding: 1.6rem;
  }

  &__label {
    align-self: flex-start;
  }

  &__img {
    align-self: center;
    max-width: 36.8rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__name {
    padding: 1.6rem 0;
    margin-bottom: 1.6rem;
    color: $color-body;
    border-bottom: 1px solid $color-grey-dark-1;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  &__price {
    min-width: 22.7rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    &--old {
      text-decoration: line-through;
      color: $color-grey-dark-1;
    }

    &--new {
      color: $color-body;
    }

    @include for-tablet-portrait-down {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__rating {
    width: 9.8rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.4rem;
  }

  &__rating-icon {
    height: 1.6rem;
    width: 1.6rem;
  }
}
