.socials {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 6.4rem);
  gap: 2.4rem;
  justify-content: center;
}

.social {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-grey-light-1;

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
    transition: transform 0.2s;
  }

  &:hover &__icon {
    transform: scale(1.2);
  }
}
