@mixin for-desktop-small-down {
  @media only screen and (max-width: 75em) {
    @content;
  }
}

@mixin for-mobile-down {
  @media only screen and (max-width: 64em) {
    @content;
  }
}

@mixin for-tablet-landscape-down {
  @media only screen and (max-width: 56.25em) {
    @content;
  }
}

@mixin for-tablet-portrait-down {
  @media only screen and (max-width: 48em) {
    @content;
  }
}

@mixin for-phone-only {
  @media only screen and (max-width: 25em) {
    @content;
  }
}

@mixin offer-hover($color) {
  &:hover {
    box-shadow: 0 0.5rem 3rem $color;
    transform: translateY(-0.3rem);
  }

  &:active {
    box-shadow: 0 0.1rem 1rem $color;
    transform: translateY(-0.1rem);
  }
}
