//FONT STYLES
$font-primary: "Roboto", sans-serif;
$font-display: "Yellowtail", cursive;

//COLORS
$color-primary: #7eb693;
$color-secondary: #ffa858;
$color-body: #274c5b;

$color-white: #ffffff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #f1f1f1;
$color-grey-light-3: #d4d4d4;
$color-grey-dark-1: #b8b8b8;
$color-grey-dark-2: #525c60;
